/* .parent{
    background-color: blueviolet;
    height: 200em;
    position: relative;
}
.one{
    background-color: red;
    position: sticky;
    top: 0;
}
.two{
    background-color: green;
    /* position: sticky; */
    /* top: 100px; */
    /* left: 200px; */
/* } */
/* .three{ */
    /* background-color: yellow; */
    /* position: sticky; */
    /* top: 200px; */
/* } */ 
#lol{
    background: red;
}